.Header {
    background-color: #fff;
    width: 100%;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    background-image: url('./assets/logo.png');
    background-size: cover;
    width: 7em;
    height: 7em;
    margin-left: 8em;
}

.cidades {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.cidades li {
    list-style: none;
}

.busca input{
    text-align: center;
    padding: 7px;
    width: 130%;
    border-radius: 50px;
    border: 1px solid #000;
    color: #707070;
    background: url('./assets/lupa.png') no-repeat;
    background-size: 10%;
    background-position: 1em;
}

.lupa {
    width: 2.5%;
    margin-right: 7%;
}
